extends layout

block content
  .container.cc
    h1.header.center.orange-text Localizador Ilegal
    .row.center
      nav.white(id='search-area')
        .nav-wrapper
          form(id='form')
            .input-field
              input#search(type='search' required='' placeholder="Enter URL" autofocus)
              label.label-icon(for='search')
                i.material-icons search
              i.material-icons close
            button.waves-effect.waves-light.btn(type='submit') Classificar
      #loading(style="display:none")
        .progress
          .indeterminate
      #info(style="display:none")
      .p
      #back(style="display:none")
        p
        .button.waves-effect.waves-light.btn Voltar

  a.btn-flat.login(href="/login") Login

block js
  script(src='/javascripts/home.js')
  