doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Localizador Ilegal
  // CSS
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(href='/stylesheets/materialize.min.css' type='text/css' rel='stylesheet' media='screen,projection')
  link(href='/stylesheets/other.css' type='text/css' rel='stylesheet' media='screen,projection')
  link(href='/stylesheets/style.css' type='text/css' rel='stylesheet' media='screen,projection')
  //- link(href='css/style.css' type='text/css' rel='stylesheet' media='screen,projection')
body
  block content

// Scripts
script(src='https://code.jquery.com/jquery-2.1.1.min.js')
script(src='/socket.io/socket.io.js')
script(src='/javascripts/materialize.min.js')
script(src='/javascripts/modal.js')
script(src='/javascripts/socket.js')
block js
//- script(src='js/init.js')
