extends layout

block content
  #login-page.row.cc(style='width: 330px;')
    .col.s12.z-depth-4.card-panel
      form.login-form(method='POST' action='/login')
        .row
          .input-field.col.s12.center
            br
            p.center.login-form-text Illegal Finder
        .row.margin
          .input-field.col.s12
            input#username(type='text', name='username', autocomplete='off')
            label.center-align(for='username') Username
        .row.margin
          .input-field.col.s12
            input#password(type='password', name='password')
            label(for='password') Password
        .row
          .input-field.col.s12
            input.btn.waves-effect.waves-light.col.s12(type='submit',value="Login")
        //- .row
        //-   .input-field.col.s6.m6.l6
        //-     p.margin.medium-small
        //-       a(href='page-register.html') Register Now!
        //-   .input-field.col.s6.m6.l6
        //-     p.margin.right-align.medium-small
        //-       a(href='page-forgot-password.html') Forgot password ?