extends layout

block content
  .navbar-fixed
    nav
      .nav-wrapper.black
        a.brand-logo.center(href='#') Localizador Ilegal
  .row
    .col.s7
      .content
        .row
          .col.s8
            h4 Sites
          .col.s4
            div(style="text-align: right;")
              br
              a.btn.red.modal-trigger(href='#modal1')
                i.material-icons add
        if sites.length
          .collection
            each site in sites
              if site.search
                a.collection-item(href="/main/"+site.id)= site.base_url
                  //- .secondary-content= site.products.join(', ')
              else
                a.collection-item.grey-text(href="/main/"+site.id)= site.base_url
                  //- .secondary-content= site.products.join(', ')
          if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
            .pagination
              ul
                if paginate.hasPreviousPages
                  li
                    a(href=paginate.href(true))
                      i.material-icons chevron_left
                if pages
                  each page in pages
                    li(class= (paginate.page==page) ? 'active' : 'waves-effect')
                      a(href=page.url)= page.number
                if paginate.hasNextPages(pageCount)
                  li
                    a(href=paginate.href())
                      i.material-icons chevron_right
        else
          .card-panel
            span.grey-text.text-darken-2
              | Adicione um site no botão vermelho acima...

    .col.s5
      br
      .card
        .card-content
          span.card-title= crawler_number + " Crawler(s)"
            if crawler_number != 0
              span.new.badge(data-badge-caption="Runing")
            else
              span.new.red.badge(data-badge-caption="Stoped")
          h6(id='rate')
          #viewDiv
        .card-action
          a(href='/main/scale/'+(crawler_number+1)+"/crawler") Adicionar Crawler
          a(href='/main/scale/'+(crawler_number-1)+"/crawler") Remover Crawler
      hr
      p(style="text-align:center")
        if builder_container != null
          a.btn(href='/main/restart/'+(builder_container.ContainerStatus.ContainerID)) Gerar árvores aleatórias
        else
          | Estamos iniciando o contrutor de árvores aleatórias...
      hr
      .card
        .card-content
          p= "Número de Classificadores: "+classifier_number
        .card-action
          a(href='/main/scale/'+(classifier_number+1)+"/classifier") Adicionar Classificador
          a(href='/main/scale/'+(classifier_number-1)+"/classifier") Remover Classificador
      hr
      div(style="text-align:center")
        h4
          p= itemCount
      hr
      table
        thead
          tr
            th Date
            th Url
            th Status
        tbody
          each status in last
            tr
              td= status.created_at
              td= status.request.url
              td= status.status.description

  #modal1.modal
    form(method='POST' action='/main')
      .modal-content
        h4 New Site
        br

        .input-field
          input.validate(type='text', name='url')
          label(for='first_name') URL


        each class_illegal in illegal
          p
            label
              input(type='checkbox', name='classes', value=class_illegal.id)
              span= class_illegal.name
        
      .modal-footer
        button.modal-close.waves-effect.waves-green.btn-flat(type='submit') Inserir

block js
  script(src='https://d3js.org/d3.v3.min.js')
  script(src='/javascripts/status.js')
