extends layout

block content
  .navbar-fixed
    nav
      .nav-wrapper.black
        a.brand-logo.center(href='/main') Illegal Finder
  .row
    .col.s7
      .content

        ul.collection.with-header
          li.collection-header
            h5= site.base_url
            p= count
          li.collection-header
            form(method='POST' action='./'+site.id)
              each class_illegal in illegal
                p
                  label
                    input(type='checkbox', name='classes', value=class_illegal.id, checked=class_illegal.p!=null)
                    span= class_illegal.name
              button.btn(type='submit') Save


    .col.s5
      .content
        p
        if site.search
          a.btn.red.btn-large(href='/main/'+site.id+"/0") Stop searching this site.
        else
          a.btn.blue.btn-large(href='/main/'+site.id+"/1") Search this site.
        p
          a.btn.red.btn-large(href='/main/delete/'+site.id) Delete this site.
        // h6 Content


  .row
    .col.s12
      .content
        hr

        for url in urls
          .small(style='font-size: 10px;')= url.url


