.cc {
  position:absolute;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
   	width: 60%; 
}
/*
body {
    width: 100%;
    height: 100%;
}*/

path { 
    stroke: black;
    fill: none;
}

.login {
  bottom: 10px;
  right: 20px;
  position: absolute;
}

ul .illegal {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.x.axis line {
  shape-rendering: auto;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

#viewDiv {
  font: 10px sans-serif;
}

td, th {
    padding: 10px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
